[submodule "Carthage/Checkouts/CarthageB"]
	path = Carthage/Checkouts/CarthageB
	url = https://github.com/mattruston/CarthageB.git
[submodule "Carthage/Checkouts/CarthageA"]
	path = Carthage/Checkouts/CarthageA
	url = https://github.com/mattruston/CarthageA.git
